@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
@import 'variables';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%; //convert default size 16px to 10px
}
body{
    font-family: 'Red Hat Display', sans-serif;
    background-image: url(../images/pattern-background-desktop.svg);
    background-color: $paleBlue;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    background-color: #fff;
    width: 27em;
    height: 42em;
    border-radius: 1em;
    box-shadow: 0 0 1em 0.1em rgba(114, 128, 167, 0.3);
    .image{
        width: 100%;
        border-radius: 1em 1em 0 0;
    }
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 1.25em;
        h1{
            color: $darkBlue;
            font-weight: 900;
            margin-top: $defaultSpacing;
            font-size: 1.7em;
        }
        p{
            text-align: center;
            color: $desaturatedBlue;
            font-weight: 500;
            padding: 0 1em;
            margin-top: $defaultSpacing;
            line-height: 1.5em;
        }
        .planDiv{
            background-color: $veryPaleBlue;
            border-radius: 1em;
            display: flex;
            width: 85%;
            justify-content: center;
            align-items: center;
            padding: 1.3em;
            margin-top: $defaultSpacing;
            .planType{
                padding: 0 4em 0 1em;
            }
            h4{
                color: $darkBlue;
                font-weight: 900;
            }
            .price{
                color: $desaturatedBlue;
                display: block;
                padding-top: 0.2em;
            }
            .change{
                font-weight: 700;
                font-size: 0.9em;
                cursor: pointer;
            }
        }
        .planDiv::before{
            content: '';
            background: url(../images/icon-music.svg);
            width: 3em;
            height: 3em;
            background-repeat: no-repeat;
            background-size: 3em;
        }
        .button{
            
            width: 85%;
        }
        button{
            margin-top: 2em;
            background-color: $brightBlue;
            border-radius: 0.75em;
            font-weight: 900;
            font-size: 0.9em;
            width: 100%;
            border: none;
            box-shadow: 0 0.75em 0.75em 0.45em rgba(56, 41, 224, 0.13);
            cursor: pointer;
        }
        button:hover{
            background-color: $activeBlue;
            transition: all 350ms ease;
        }
        .checkout{
            text-decoration: none;
            color: #fff;
            display: block;
            width: 100%;
            padding: 1.1em;
        }
        .cancel{
            margin-top: 2em;
            color: $desaturatedBlue;
            font-weight: 900;
            font-size: 0.95em;
            cursor: pointer;
        }
    }
}
.attribution{
    display: flex;
    position: absolute;
    bottom: 0;
    padding-bottom: 1em;
    flex-wrap: wrap;
    justify-content: center;
    word-spacing: 0.1em;
    color: $darkBlue;
    white-space: pre;
    a{
        color: $brightBlue;
        letter-spacing: 0.1em;
        font-weight: 700;
    }
}